/* BODY -- Background */

body {
  background-image: url("img/oiseau.jpg");
  background-size: cover;
}


/* GRID LAYOUT */
[class*="col"]{
  padding: 1rem;
  /* background-color: blue; */
  /* border: 2px solid #fff; */
  color:#fff;
  align-content: center;
}


/* TITLE */

#title {
  padding: 4rem
}
.diarioLogo {
  margin: auto;
  margin-left: 35%;
}


/* WEATHER */




/* NEWS */

#news {
  text-align: center;
  background-color: rgba(63, 69, 69, 0.8);
  border-radius: 20px 20px 20px 20px;
}
.carousel-inner {
  text-align: center;
}


[class*="carousel-item"]{
  height: 400px;
  align-content: center;
}

.styleImage {
  max-width: 100%;
  max-height: 70%;
}

.styleTitle {
  color:#fff;
  text-decoration: none;
  background-color: rgba(63, 69, 69, 0.95);
}

.styleTitle:hover{
  text-decoration: underline;
  color: red;
}




/* TODOLIST */



/* BOOKMARKS */
