/* BODY -- Background */

body {
  background-image: url("img/oiseau.jpg");
  background-size: cover;
}



/* GRID LAYOUT */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  border: 3px solid green;
}

.grid-container > div {
  background-color: rgba(66, 65, 62, 0.5);
  /* padding: 20px 0; */
}



/* TITLE */
.title {
  grid-column-start: 1;
  grid-column-end: 3;
  opacity: 1;
}

.test1, .test2 {
  width: 30%;
  border: 3px solid orange;
}

/* WEATHER */
.weather {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 3px solid blue;
}

.weatherItem {
  width: 30%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1vw;
  border: 3px solid red;
  align-items: right;
}


/* NEWS */
.news {
  grid-column-start: 1;
  grid-column-end: 3;
}

.slider {
  width: 300px;
  overflow: hidden;
  margin: 10px auto;
}

.slides {
  width: calc(300px * 10);
  animation: glisse 30s infinite;
}

.slide {
  float: left;
}

p {
  width: 300px;
}
.imgnews {
  height: 150px;
  width: 300px;
}

@keyframes glisse {
  0% {
      transform: translateX(0)
  }
  10% {
      transform: translateX(-300px)
  }
  20% {
      transform: translateX(-600px)
  }
  30% {
      transform: translateX(-900px)
  }
  40% {
      transform: translateX(-1200px)
  }
  50% {
      transform: translateX(-1500px)
  }
  60% {
      transform: translateX(-1800px)
  }
  70% {
      transform: translateX(-2100px)
  }
  80% {
      transform: translateX(-2400px)
  }
  90% {
      transform: translateX(-2700px)
  }
  100% {
      transform: translateX(0px)
  } 

}



/* TODOLIST */
.todo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start : 2;
  grid-row-end: 4;
}



/* BOOKMARKS */
.bookmarks {
  grid-column-start: 1;
  grid-column-end: 3;
}